<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="spb.summer_practice.wasabee">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="spb.summer_practice.wasabee.ChatInfoActivity">
        </activity>
        <activity android:name="spb.summer_practice.wasabee.CreateChatActivity">
        </activity>
        <activity android:name="spb.summer_practice.wasabee.ChatListActivity">
        </activity>
        <activity android:name="spb.summer_practice.wasabee.MainMenuActivity">
        </activity>
        <activity android:name="spb.summer_practice.wasabee.SignUpActivity">
        </activity>
        <activity android:name="spb.summer_practice.wasabee.MessageListActivity">
        </activity>
        <activity android:name="spb.summer_practice.wasabee.LoginActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="spb.summer_practice.wasabee.StartingUpActivity"/>
        </activity>
        <activity
                android:name="spb.summer_practice.wasabee.StartingUpActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name="spb.summer_practice.wasabee.SocketIOService"
                android:exported="false"/>
        <service
                android:name="spb.summer_practice.wasabee.NetworkService"
                android:exported="false"/>
    </application>

</manifest>