<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wasabee">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ChatInfoActivity">
        </activity>
        <activity android:name=".CreateChatActivity">
        </activity>
        <activity android:name=".NewChatPeopleActivity">
        </activity>
        <activity android:name=".ChatListActivity">
        </activity>
        <activity android:name=".MainMenuActivity">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".MessageListActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.wasabee.StartingUpActivity"/>
        </activity>
        <activity
                android:name=".StartingUpActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".SocketIOService"
                android:exported="false"/>
    </application>

</manifest>